<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>
<body>
<main>
    <div class="container">
        <div class="left">
            <img src="/img/logo.png" alt="Tut wuri handayani">
            <h1>Sistem Pendukung Keptusan</h1>
            <p>menentukan siswa yang layak menerima Bantuan Operasional Sekolah <span>(BOS),</span> dengan metode Simple Additive Weigthing <span>(SAW)</span></p>
            <div class="icon">
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-icon name="logo-facebook"></ion-icon>
              <ion-icon name="logo-instagram"></ion-icon>
                <p>Jl. TGH. Moh. Shaleh Ahmad Kalijaga</p>
                <p>Kec. Aikmel, Kabupaten Lombok Timur, Nusa Tenggara Barat</p>
                <p>Kode Pos: 83653</p>
            </div>
        </div>
        <div class="right">
            <h1>Sign in</h1>
            <form action="/login" method="post">
                <label for="email">Email</label>
                <input type="text" name="username" placeholder="Username" required>
                
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
                
                <button type="submit">Sign in</button>
            </form>
            <a href="#"><span>Lupa kata sandi?</span></a>
        </div>
    </div>
</main>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>